body {
  background-color: lightblue;
}

img {
  width: 50px;
  height: 50px;
}

/* #chess-board{
    display: flex;
    flex-direction: column;
} */

#chess-board > p {
  padding-left: 35px;
  text-align: justify;
  letter-spacing: 18px;
}

.row {
  display: flex;
}

.row p {
  padding: 0px 10px 0px 0px;
}

.row div {
  width: 50px;
  height: 50px;
}

.light {
  background-color: #f3e7d9;
}

.dark {
  background-color: #c59359;
}
